<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{% include icon-email.html email=site.gm_email name=site.gm_name %}</li>
          <li>{% include icon-facebook.html username=site.facebook_username %}</li>
          <li>---</li>
          {% for chapter in site.data.chapters %}
            <li>{% include icon-email.html email=chapter.email name=chapter.name %}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
